@import url('https://fonts.googleapis.com/css2?family=Bellota&family=Monoton&family=Stalemate&display=swap');

body {
  margin: 0;
  color: #fff;
  background-color: #b300ff;
}

h1 {
  text-shadow: 2px 2px 5px #f0d;
  font-family: 'Stalemate';
  font-weight: inherit;
  text-align: center;
  font-size: 80px;
}

h2 {
  font-family: 'Monoton';
  font-size: 45px;
  font-weight: inherit;
  padding-left: 20px;
}

h3 {
  padding-left: 60px;
  font-size: 30px;
  text-shadow: 2px 2px 5px #f0d;
  font-family: 'bellota';
  font-weight: inherit;
}

header {
  background: linear-gradient(transparent, #b300ff),
              #fff url('../dragracelogo.jpg') no-repeat center;
  background-size: 50%;
  height: 700px;
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar {
  position: absolute;
  right: 80px;
}

.links, 
#totop {
  font-family: 'bellota';
  font-size: 30px;
  color: #fff;
  text-shadow: 2px 2px 5px #f0d;
  list-style-type: none;
}

li {
  padding-top: 20px;
}

#logoimg {
  height: 60px;
  width: 80px;
  position: absolute;
  top: 50px;
  left: 80px;
}

#logotext {
  position: absolute;
  top: 40px;
  left: 200px;
  font-size: 56px;
  font-family: 'Monoton';
  color: #f0d;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #fff;
  text-align: center;
}
.flex-item {
  padding: 15px;
}

iframe {
  width: 400px;
  height: 225px;
}

.vidtitle {
  background-color: #b300ff;
  color: #fff;
  font-family: 'bellota';
  width: auto;
  box-shadow: 5px 10px 10px #f0d;
  width: 400px;
  border-radius: 5px;
  margin-top: 30px;
  padding: 5px;
}

iframe {
   box-shadow: 5px 10px 10px #f0d;
}

iframe:hover {
  transform: scale(1.1);
  transition: 1s;
  box-shadow: 5px 10px 20px #f0d;
}

.footer {
  padding-top: 30px;
  text-align: center;
  height: 200px;
  background-image: linear-gradient(#fff, #b300ff);
}

.footerlink {
  padding: 20px;
  width: 50px;
  height: 50px;
}

a:hover, 
.li:hover, 
.footerlink:hover {
  transform: scale(1.1);
  transition: 1s;
}

/* for mobile phones */

@media only screen and (max-width: 600px) {
  
  body {
    text-align: center;
    margin: 0;
  }
  
  header {
    height: 500px;
  }
  
  h1 {
    font-size: 40px;
    padding: 20px;
  }
  
  h2 {
    font-size: 30px;
    padding: 0;
  }
  
  h3 {
    font-size: 20px;
    padding: 0;
  }
  
  #logoimg {
    width: 60px;
    height: 40px;
    top: 40px;
    left: 30px;
  }
  
  #logotext {
    font-size: 40px;
    top: 30px;
    left: 110px;
  }
  
  .navbar {
    top: 300px;
    left: 30px;
  }
  
  .links,
  #totop {
    font-size: 20px;
  }
  
  .links {
    text-align: left;
    padding: 0;
  }
  
  iframe {
    width: 320px;
    height: 180px;
  }
  
  .vidtitle {
    width: 320px;
  }
} 

/* for big phones and small tablets */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  
  body {
    text-align: center;
  }
  
  #logoimg {
    left: 60px;
  }
  
  #logotext {
    left: 160px;
  }
  
  .navbar {
    top: 400px;
    left: 60px;
    text-align: left;
  }
  
  .links {
    padding: 0;
  }
}
